<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Type</string>
	<string></string>
	<string>Business</string>
	<string></string>
	<string>Studio</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string></string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Studio</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Artist</string>
	<string></string>
	<string>Business</string>
	<string></string>
	<string>FOOD</string>
	<string></string>
	<string>Food</string>
	<string></string>
	<string>FOOD</string>
	<string></string>
	<string>Gallery</string>
	<string></string>
	<string>Gallery</string>
	<string></string>
	<string>Non Profit</string>
	<string></string>
	<string>Non Profit</string>
</array>
</plist>